# ignore _drafts/
_drafts

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadate
_site

# Jampack cache
.jampack

# Python cache
tools/__pycache__

# RubyGems
*.gem

# NPM dependencies
node_modules

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors

# ignore .DS_Store of macOS
.DS_Store
